.pay-btn {
    padding: .8rem 1.8rem;
    background: #086ad8;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    border-radius: 0.4rem;
    display: inline-block;
}
li {
    list-style: disc;
}
header li, footer li {
    list-style: none;
}
.offer-class {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.offer-list > ul {
    font-size: 0.8rem;
    color: #696969;
}
.offer-list > li {
    margin-left: 1rem;
}
.offer-list > p {
    font-size: 1rem;
    font-weight: 600;
}


.note {
    border-left: 3px solid #086ad8;
    color: #696969;
    font-size: .7rem;

    margin-top: 0.8rem;
    width: 70%;
    height: auto;
    display: block;
    padding: 0 0 0 1rem;

}
.note li {
    list-style: none;
}
.desc {
    margin: 1rem 4rem;
}
.para {
    font-size: 0.9rem;
    color: #696969;
    letter-spacing: 0.8px;
    line-height: 20px;
    width: 50%;
}
section h1 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.price-desc {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.price-desc > h1 {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.9px;
    margin: 0;
}
.price-desc p {
    font-size: 0.8rem;
    color: #696969;
}
.price-desc span {
    margin: .5rem 0;
}


/* =========== cards section ============  */
.card {
    background: #dcecff8e;
    border-radius: 6px;
    border: none;
    padding: 1rem;
    margin-bottom: 1rem;
}
.card > h1 {
    font-weight: 700;
    font-size: 1rem;
    margin: 0;
    margin-bottom: .8rem;
}
.card > p {
    font-size: 0.9rem;
    color: #555454;
    letter-spacing: 0.8px;
    line-height: 20px;
}
.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}


.card-item {
    border: 2px solid #086ad8;
    background: #dcecff8e;
    border-radius: 6px;
    padding: 1rem;
}
.card-item > h1 {
    font-weight: 700;
    font-size: 1rem;
    margin: 0;
    margin-bottom: .8rem;
}
.card-item > p {
    font-size: 0.9rem;
    color: #555454;
    letter-spacing: 0.8px;
    line-height: 20px;
}


@media (max-width: 992px) {
    .first-sec > h1 {
        margin-top: 6rem;
    }
    .note {
        width: 100%;
    }
    .desc {
        margin: 1rem;
    }
    .para {
        width: 100%;
    }
    .card-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .pay-btn {
        padding: .6rem 1.5rem;
        font-size: 14px;
        margin-bottom: .6rem;
    }
    .offer-class {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }


}

@media screen and (max-width: 576px) {
    .first-sec > h1 {
        margin-top: 6rem;
    }
    .card-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .offer-class {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
  }