@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Poppins&family=Roboto&display=swap');       
       
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
     font-family: 'Poppins', sans-serif;
     overflow-x: hidden;
     position: relative;
     scroll-behavior: smooth;
}
.hamburger-menu{
     color: #fff;
     display: none;
}
.hamburger-menu i{
     font-size: 1.5rem;
}
a{
     color: #fefefe;
     text-decoration: none;
}
li{
list-style: none;
}
.hide{
     display: none;
}
.grid{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     align-items: center;
     justify-content: center;
}
.flex{
     display: flex;
     align-items: center;
}
.wrap{
     flex-wrap: wrap;
}
.btn{
     padding: 1rem 2.5rem;
     background: #086AD8;
     color: #fff;
     border: none;
     font-size: 22px;
     font-weight: 400;
     cursor: pointer;
     transition: .2s all ease-in-out;
     border-radius: .5rem;
}
.btn:hover{
     opacity: .9;
     transform: scale(.9);
}
section{
background-attachment: fixed;
}
.header{
     height: 10vh;
     width: 100%;
     padding: 0rem 4rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background: #086AD8;
}
.logo{
     height: 50px;
}
.logo > img{
width: 100%;
height: 100%;
}
.nav .links.flex{
     width: 100%;
     align-items: center;
     justify-content: space-around;
}
.nav .links .nav-link{
     margin-right: 1rem;
     padding: .5rem 1.2rem;
     position: relative;
}
.nav-link:hover::before{
     content: " ";
     width: 70px;
     height: 3px;
     background-color: #fff;
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     margin: auto;
     animation: .4s alternate hover;
}
@keyframes hover {
0%{
     width: 0;
}
100%{
     width: 70px;
}
}

.contact-btn {
     margin-left: 7rem;
     margin-right: 0;
     padding: .8rem 1.6rem;
     border: 2px solid #ffffff;
     font-size: 16px;
     background: transparent;
     cursor: pointer;
}
@media screen and (max-width: 768px) {
     .contact-btn {
          display: none;
     }
     .logo{
          width: 200px;
          height: 50px;
     }
}
@media screen and (max-width: 576px) {
     .contact-btn {
          display: none;
     }
     .hero-vector-bg-img img{
          display: none;
     }
}
/* .nav .links .nav-link:last-child{
     margin-left: 7rem;
     margin-right: 0;
     padding: .8rem 1.6rem;
     border: 2px solid #ffffff;
} */

section{
     margin-bottom: 3rem;
}
.hero.flex{
     position: relative;
     justify-content: space-between;
}
.hero-text{
     align-self: flex-start;
     padding-left: 4rem;
     margin-top: 3rem;
}
.hero-text > h1{
     line-height: 4rem;
}
.hero-text h1, h1.section-header, .banner .banner-desc h1, .client-desc h1, .work h1{
     font-size: 45px;
}
.hero-text > p{
     font-size: 18px;
     margin-top: 2rem;
     letter-spacing: 1px;
     line-height: 2rem;
     color: #222222;
}
.hero-text .btn{
     margin-top: 2rem;
}
.hero-vector-bg-img{
     position: relative;
     align-self: flex-start;
     justify-self: flex-start;
}
.hero-vector-bg-img img{
     width: 100%;
     height: 100%;
}

     /* ##################--ABOUT SECTION --############ */

     h1.section-header{
          text-align:center;
          position: relative;
          margin: 6rem 0;
     }
     h1.section-header::after{
          content: ' ';
          width: 90px;
          height: 7px;
          background-color: #086AD8;
          position: absolute;
          left: 0;
          right: 0;
          bottom: -15px;
          margin: 0 auto;
     }
     .about, .work{
          padding: 0 4rem;
     }
     .about-container{
          justify-content: space-between;
          gap: 30px;
          flex-wrap: wrap;
     }
     .about-img img{
          width: 100%;
          height: 100%;
     }
     .about-desc h1{
          font-size: 32px;
          line-height: 39px;
     }
     .about-desc p, .services-desc p, .services-cat > div > div p, .client-desc p{
          font-size: 18px;
          color: #797979;
          margin: 2rem 0;
          line-height: 26px;
     }
/* ################ SERVICES SECTION ################## */
     .services{
          grid-template-columns: 1fr 1.5fr;
          margin: 8rem 0;
          justify-content: center;
          align-items: center;
          padding: 0 4rem;
          }
     .services h1.section-head{
          font-size: 32px;
          text-align: center;
          position: relative;
     }
     .services-desc{
          align-self: flex-start;
     }

     .services-cat{
          height: 50%;
          background-color: #00B6F3;        
     }
     .service-grid{
          width: 80%;
          align-items: center;
          margin: 0 auto;
          gap: 30px;
     }
     .services-cat > div > div{
          text-align: center;
          padding: 1rem 1rem 2rem 1rem;
          background-color: #fff;
     }

     .services-cat > div > div .icon-box{
          width: 80px;
          height: 68px;
          margin: 0 auto;
          margin-bottom: 1rem;
     } 
     .services-cat > div > div h3{
          margin-bottom: 1rem;
     }
     .services-cat > div > div .icon-box img{
          width: 27px;
          height: 28px;
          margin: auto;
     }
     .service-grid > div:nth-child(1) > div{
        background: #DFFFF7;
     }
     .service-grid > div:nth-child(2) > div{
          background: #FDCDFB;
     }
     .service-grid > div:nth-child(3) > div{
          background: #F2E1FF;
     }
     .service-grid > div:nth-child(4) > div{
          background: #FFF0A0;
     }

     .banner{
          background-color: #086AD8;
          justify-content: space-between;
          padding: 6rem 4rem;
          margin-top: 10rem;
          position: relative;
     }

     .banner .banner-img{
          height: auto;
          background-color: red;
     }

     .banner .banner-img img{
          position: absolute;
          bottom: 0;
          left: 4rem;
          z-index: 1;
     }
     .banner .banner-desc{
          width: 100%;
          margin: 0 auto;
          text-align: center;
     }
     .banner .banner-desc h1, .client-desc h1{
          color: #fff;
     }
     .banner .banner-desc .grid{
          margin-top: 2rem;
          gap: 30px;
     }
     .banner .banner-desc .grid > p{
         background: #fff;
         padding: 1.5rem 0;
         font-size: 18px;
     }

     .circle-container{
          justify-content: flex-end;
          width: 100%;
          position: relative;
     }
     .circle-container img{
          width: 80%;
          height: 80%;
     }

     .client{
          margin:  7rem auto;
          padding: 0 4rem;
          justify-content: space-between;
     }

     .client-desc{
          width: 80%;
          align-self: flex-start;
     }
     .client-desc h1{
          color: #222222;
     }
     .client-desc > div{
          margin: 2rem 0;
     }
     .client-desc .rate{
          display: inline-block;
          color: #086AD8;
     }
     .client-desc h3{
          margin: .7rem 0;
     }
     .client-desc > div img{
          width: 150px;
     }

     .work{
          text-align: center;
     }
     .work h1{
          margin-bottom: 4rem;
     }
     .work-container{
          gap: 25px;
     }
     .work button{
          margin: 5rem 0;
     }
     .work-container img{
          width: 100%;
          height: 100%;
          }
     .footer-banner{
          background-color: #00B6F3;
          color: #fff;
          text-align: center;
          padding: 4rem 16rem;
          margin: 0 4rem;
          border-radius: 10px;
     }
     .footer-banner h1{
          margin-bottom: 3rem;
     }
     footer{
          background: #29313c;
     }
     .footer-container{
          grid-template-columns: 2fr 1fr 1fr;
          gap: 3rem;
          width: 90%;
          padding: 2rem 4rem;
          justify-content: space-between;
          margin: 10rem auto 0 auto;
          color: #fff;
          line-height: 1.5rem;
          font-weight: lighter;
     }
     .logo-div p{
          margin: 1.4rem 0;
     }

     .footer-container ul li:first-child{
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 3rem;
     }
     .footer-container ul li{
          position: relative;
     }
     hr{
          border: 1px solid #b2b2b277;
     }
     .footer-btm{
          padding: 1rem 0;
          width: 82%;
          margin: 0 auto;
          display: flex !important;
          justify-content: space-between;
     }
     .footer-btm ul li:last-child {
          list-style: disc;
          color: #c2c2c2;
          margin-left: 2rem;
     }
     .footer-container ul li a:hover::before{
          content: " ";
          width: 10px;
          height: 3px;
          border-radius: 20px;
          background-color: #cacaca;
          position: absolute;
          top: 35%;
          left: -25px;
          margin: auto;
          animation: .4s alternate hoverb;
        }
        @keyframes hoverb {
          0%{
               width: 0;
          }
          100%{
               width: 20px;
          }
        }
     .footer-container ul li a, .footer-btm, .footer-btm ul li a{
          display: inline-block;
          color: #b2b2b2;
          margin-bottom: .7rem;
     }

     .social-links i{
     font-size: 20px;
     padding: .8rem .9rem;
     background-color: #086AD8;
     border-radius: .5rem;
     margin-right: 1rem;
     transition: .2s all ease;
     }
     .social-links i:hover{
          transform: scale(1.2);
     }
.hamburger-menu-dis{
     background-color: #0869d8;
     width: 75%;
     position: fixed;
     z-index: 5;
     top: 68px;
     right: 0;
     height: 100%;
     animation: .7s alternate slidein;
}
@keyframes slidein {
     0%{
          width: 0;
     }
     100%{
          width: 80%;
     }
}
.overlay{
     width: 100%;
     height: 100%;
     background-color: #1f1f1fb3;
     position: absolute;
     filter: blur(5px);
     top: 0;
     left: 0;
     z-index: 2;
}

/* ################# MOBILE SCREEN QUERY ############# */

@media screen and (max-width: 1200px) {
     .nav .links .nav-link:last-child{
          margin-left: 2rem;
      }
     .banner-img img{
          width: 40%;
     }
     .banner{
          padding: 2rem;
     }
     .footer-banner{
          padding: 2rem 1rem; 
     }
     .footer-container,.client, .work, .about, .services{
          padding: 0 2rem;
     }
}

@media screen and (max-width: 768px) {
     .header .logo{
          width: 150px;
     }
     .hamburger-menu{
          color: #fff;
          display: block;
          cursor: pointer;
          }
          .links{
          align-items: flex-start !important;
          justify-content: flex-start;
          }
          .nav .links .nav-link{
          font-size: 1.3rem;
          margin-right: 0;
          margin-bottom: 1.5rem;
          padding: .5rem 1.2rem;
          border-bottom: 1px solid #b2b2b2;
          width: 100%;
     }
     .links{
          margin-top: 2rem;
     }
     .nav .links .nav-link:last-child{
          margin-left: 0;
          border: none;
          border-bottom: 1px solid #b2b2b2;
          padding: .5rem 1.2rem;
          }
          .nav .links.flex{
          flex-direction: column;
          width: 100%;
          align-items: center;
          justify-content: space-around;
          }
          .header{
          position: fixed;
          z-index: 5;
          }
          .hero-text{
          margin-top: 6rem !important;
          align-items: unset;
          }

     section, .footer-container,.client, .work, .about, .header, .services{
          padding: 0 1.5rem;
     }
     .footer-banner{
          margin: 0 1.5rem;
     }
     .nav{
          display: none;
     }
     .show{
          display: block;
     }
     .hero-text{
          margin-top: 2rem;
          padding-left: unset;
     }
     .hero-text h1{
          line-height: 2.5rem;
     }
     .grid{
          grid-template-columns: 1fr;
          width: 100%;
     }
     .banner-img{
          display: none;
     }
     .services-cat{
          align-items: center;
          background-color: unset;
     }

     .services{
          text-align: center;
          margin: 4rem auto;
          height: auto;
     }
     .services-cat div div{
          width: 270px;
     }
     .service-grid{
          gap: 20px;
          width: unset;
     }
     .banner{
          padding: 2rem 1.5rem;
          margin: 4rem 0;
     }
     .banner-desc p{
          margin-bottom: 1rem;
     }
     .client-desc{
          text-align: center;
          margin: 0 auto;
     }
     .circle-container .circle-box .img{
          width: 60px;
          height: 60px;
          right: 15%;
          top: 30%;
     }
     .circle-container .circle-box .img{
          transform-origin: 150px;
     }
     .banner .banner-desc h1, .client-desc h1, .about-desc h1, h1.section-header, .hero-text h1{
          font-size: 32px;
     }
     .about-desc h1{
          line-height: 32px;
     }
     .hero{
          row-gap: 3rem;
     }
     .hero-vector-bg-img img{
          display: none;
     }
     .footer-banner{
          padding: 2rem 1rem; 
     }
     .footer-btm{
          flex-direction: column;
          justify-content: space-between;
     }
     .client-desc{
          width: 100%;
          align-self: flex-start;
     }
     .circle-container{
          justify-content: center;
     }
}
